/* Typsnitt */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.header {
  display: flex;
  flex-direction: column;
  width: 100%; 
  box-sizing: border-box; 
  margin-top: 20px
}

/* Centrerar loggan och länkarna */
.logo {
  width: 100%;
  margin-bottom: 20px;
}

/* Se till att listan täcker hela sidans bredd och är centrerad */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center; /* Centrerar länkarna */
  gap: 20px;
  padding: 20px;
  margin: 0;
  width: 100%;
  background-color: #5e17eb; /* Menyns bakgrundsfärg */
  box-sizing: border-box; /* Säkerställer att padding inte överskrider bredden */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

/* Länkarna centreras i sin förälder och behåller sitt utseende */
.nav-item a {
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}

/* Effekter för hover */
.nav-item a:hover {
  color: #ddd;
}

/* För att centrera allt innehåll i andra sektioner */
section {
  text-align: center;
  width: 100%;
}
