@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

/* Navbaren */
.navbar {
  position: fixed; /* Så att navbaren är fixerad i toppen */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: transparent; /* Transparent navbar */
  z-index: 10;
}

.logo-image {
  width: 50px;
  margin-left: 55px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding-right: 90px;
}

.nav-links a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ff9a00;
  text-decoration: none;
  font-size: 18px;
  
}

.nav-links a:hover {
  color: #f39c12; /* Ändra färg vid hover */
}


/* Hero-sektionen */
.hero {
  margin-top: -10px;
  width: 100vw; /* Full bredd på skärmen */
  height: 100vh; /* Full höjd på skärmen */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%; /* Täck hela bredden */
  height: 100%; /* Täck hela höjden */
  object-fit: cover; /* Behåll proportioner och täck både höjd och bredd */
}
